*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: gray;
    overflow-x: hidden;
}
@media (max-width: 576px) {

      /*body{*/
      /*    width: 576px !important;*/
      /*    overflow-y: hidden !important;*/
      /*    overflow-x: hidden !important;*/
      /*}*/

}